/.Build
/.composer
/.cache
/.phpunit.cache
/config/
/tailor-version-artefact
/var/
/composer.lock
/composer.json.orig
/composer.json.testing
/Documentation-GENERATED-temp
/Tests/Build/.phpunit.result.cache
