<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:render partial="Feed/Title" arguments="{feed:feed}"/>
<f:render partial="Feed/Image" arguments="{feed:feed}"/>
<f:render partial="Feed/Description" arguments="{feed:feed}"/>
<f:render partial="Feed/Categories" arguments="{feed:feed}"/>
<f:render partial="Feed/Authors" arguments="{feed:feed}"/>
<f:render partial="Feed/Contributors" arguments="{feed:feed}"/>
<f:render partial="Feed/Links" arguments="{feed:feed}"/>
<f:if condition="{items}">
    <f:then>
        <div class="feed-items">
            <h2>
                <f:translate key="feed.items"/>
            </h2>
            <ul>
                <f:for each="{items}" as="item">
                    <f:if condition="{item.id}">
                        <f:then>
                            <li id="item-{item.id}">
                                <f:render partial="Item" arguments="{item:item}"/>
                            </li>
                        </f:then>
                        <f:else>
                            <li>
                                <f:render partial="Item" arguments="{item:item}"/>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
            </ul>
        </div>
    </f:then>
    <f:else>
        <div class="error error-no-items">
            <p><f:translate key="noItemsError"/></p>
        </div>
    </f:else>
</f:if>
<f:render partial="Feed/Copyright" arguments="{feed:feed}"/>
</html>