<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<f:comment><!-- Item Properties --></f:comment>
<f:render partial="Item/Title" arguments="{item:item}"/>
<f:render partial="Item/Content" arguments="{item:item}"/>
<f:render partial="Item/Categories" arguments="{item:item}"/>
<f:render partial="Item/Authors" arguments="{item:item}"/>
<f:render partial="Item/Contributors" arguments="{item:item}"/>
<f:render partial="Item/Copyright" arguments="{item:item}"/>
<f:render partial="Item/Date" arguments="{item:item}"/>
<f:render partial="Item/UpdatedDate" arguments="{item:item}"/>
<f:render partial="Item/Links" arguments="{item:item}"/>
<f:render partial="Item/Enclosures" arguments="{item:item}"/>
<f:render partial="Item/Latitude" arguments="{item:item}"/>
<f:render partial="Item/Longitude" arguments="{item:item}"/>
<f:render partial="Item/Source" arguments="{item:item}"/>

</html>