<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
       data-namespace-typo3-fluid="true" lang="en">

<f:layout name="General"/>
<f:section name="content">
    <f:if condition="{data.feed} && {data.items}">
        <f:then>
            <f:render partial="Feed" arguments="{feed:data.feed, items:data.items}"/>
        </f:then>
        <f:else>
            <f:if condition="{settings.errorMessage}">
                <f:then>
                    <f:format.html>{settings.errorMessage}</f:format.html>
                </f:then>
                <f:else>
                    <f:translate key="errorMessage"/>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>

</html>