<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:if condition="{feed.image}">
    <div class="feed-image">
        <f:if condition="{settings.logoMaxWidth} || {settings.logoMaxHeight}">
            <f:then>
                <f:variable name="imageWidth" value="{settings.logoMaxWidth}"/>
                <f:variable name="imageHeight" value="{settings.logoMaxHeight}"/>
            </f:then>
            <f:else>
                <f:variable name="imageWidth" value="{feed.imageWidth}"/>
                <f:variable name="imageHeight" value="{feed.imageHeight}"/>
            </f:else>
        </f:if>

        <f:if condition="{feed.imageLink}">
            <f:then>
                <f:link.external uri="{feed.imageLink}" target="{settings.linkTarget}">
                    <f:image src="{feed.image}" title="{feed.imageTitle}" maxWidth="{imageWidth}" maxHeight="{imageHeight}"/>
                </f:link.external>
            </f:then>
            <f:else>
                <f:image src="{feed.image}" title="{feed.imageTitle}" maxWidth="{imageWidth}" maxHeight="{imageHeight}"/>
            </f:else>
        </f:if>
    </div>
</f:if>
</html>