<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<table>
    <f:if condition="{pi_flexform_transformed}">
        <f:then>
            <f:comment><!-- TYPO3 v13 compatible listing --></f:comment>
            <f:for each="{pi_flexform_transformed.settings}" key="key" as="value">
                <f:if condition="{value} != '' && {value} != '0' && {key} != 'getFields'">
                    <f:variable name="label" value="{f:translate(key:'LLL:EXT:feed_display/Resources/Private/Language/locallang_be.xlf:flexform.{key}.label')}"/>
                    <f:render section="TableRow" arguments="{label:label,value:value}"></f:render>
                </f:if>
            </f:for>
            <f:variable name="getFieldsTypes" value="{0:'feed',1:'items'}"/>
            <f:for each="{getFieldsTypes}" as="getFieldsType">
                <f:if condition="{pi_flexform_transformed.settings.getFields.{getFieldsType}}">
                    <f:variable name="label" value="{f:translate(key:'LLL:EXT:feed_display/Resources/Private/Language/locallang_be.xlf:flexform.getFields.{getFieldsType}.label')}"/>
                    <f:variable name="value">
                        <f:for each="{pi_flexform_transformed.settings.getFields.{getFieldsType} -> f:split(separator: ',')}" as="field" iteration="iterator">
                            <f:translate key="LLL:EXT:feed_display/Resources/Private/Language/locallang_be.xlf:flexform.getFields.{getFieldsType}.I.{field}"/><f:if condition="!{iterator.isLast}">,</f:if>
                        </f:for>
                    </f:variable>
                    <f:render section="TableRow" arguments="{label:label,value:value}"></f:render>
                </f:if>
            </f:for>
        </f:then>
        <f:else>
            <f:variable name="sheets" value="{0:'general',1:'advanced'}"/>
            <f:for each="{sheets}" as="sheet">
                <f:for each="{record.pi_flexform.sheets.{sheet}.settings}" key="key" as="value">
                    <f:if condition="{value} != '' && {value} != '0' && {key} != 'getFields'">
                        <f:variable name="label" value="{f:translate(key:'LLL:EXT:feed_display/Resources/Private/Language/locallang_be.xlf:flexform.{key}.label')}"/>
                        <f:render section="TableRow" arguments="{label:label,value:value}"></f:render>
                    </f:if>
                </f:for>
            </f:for>
            <f:variable name="getFieldsTypes" value="{0:'feed',1:'items'}"/>
            <f:for each="{getFieldsTypes}" as="getFieldsType">
                <f:if condition="{record.pi_flexform.sheets.getFields.settings.getFields.{getFieldsType}}">
                    <f:variable name="label" value="{f:translate(key:'LLL:EXT:feed_display/Resources/Private/Language/locallang_be.xlf:flexform.getFields.{getFieldsType}.label')}"/>
                    <f:variable name="value">
                        <f:for each="{record.pi_flexform.sheets.getFields.settings.getFields.{getFieldsType}}" as="field" iteration="iterator">
                            <f:translate key="LLL:EXT:feed_display/Resources/Private/Language/locallang_be.xlf:flexform.getFields.{getFieldsType}.I.{field}"/><f:if condition="!{iterator.isLast}">,</f:if>
                        </f:for>
                    </f:variable>
                    <f:render section="TableRow" arguments="{label:label,value:value}"></f:render>
                </f:if>
            </f:for>
        </f:else>
    </f:if>
</table>

<f:section name="TableRow">
    <tr>
        <th style="padding-right: 5px;">{label}</th>
        <td>{value}</td>
    </tr>
</f:section>
</html>
