<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:variable name="settings" value="{pi_flexform_transformed.settings}"/>
<f:if condition="{record.pi_flexform.settings}">
    <f:variable name="settings" value="{record.pi_flexform.settings}"/>
</f:if>
<table>
    <f:for each="{settings}" key="key" as="value">
        <f:if condition="{value} != '' && {value} != '0' && {key} != 'getFields'">
            <tr>
                <th style="padding-right: 5px;"><f:translate key="LLL:EXT:feed_display/Resources/Private/Language/locallang_be.xlf:flexform.{key}.label"/><br></th>
                <td>{value}</td>
            </tr>
        </f:if>
    </f:for>
</table>
</html>
