<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">
<f:if condition="{item.authors}">
    <div class="item-authors">
        <f:if condition="{item.authors -> f:count()} > 1">
            <f:then>
                <strong>
                    <f:translate key="item.authors"/>
                </strong>
                <ul>
                    <f:for each="{item.authors}" as="author">
                        <li>{author.name -> f:format.htmlentitiesDecode()}</li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <strong>
                    <f:translate key="item.author"/>
                </strong>
                {item.authors.0.name -> f:format.htmlentitiesDecode()}
            </f:else>
        </f:if>
    </div>
</f:if>
</html>