<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<f:comment><!-- Content --></f:comment>
<f:if condition="{item.content}">
    <div class="item-content">
        <f:if condition="{settings.stripTags}">
            <f:then>
                <f:variable name="content" value="{item.content -> f:format.stripTags()}"/>
            </f:then>
            <f:else>
                <f:variable name="content" value="{item.content}"/>
            </f:else>
        </f:if>
        <f:if condition="{settings.maxContentLength}">
            <f:variable name="content" value="{content -> f:format.crop(maxCharacters: settings.maxContentLength)}"/>
        </f:if>
        <f:format.html>{content}</f:format.html>
    </div>
</f:if>

</html>