<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
       data-namespace-typo3-fluid="true" lang="en">

<f:comment><!-- Links --></f:comment>
<f:if condition="{item.links.0}">
    <div class="item-links">
        <f:switch expression="{item.links -> f:count()}">
            <f:case value="0"/>
            <f:case value="1">
                <strong>
                    <f:translate key="item.link"/>
                </strong>
                <f:link.external uri="{item.links.0}" target="{settings.linkTarget}">{item.links.0}</f:link.external>
            </f:case>
            <f:defaultCase>
                <strong>
                    <f:translate key="item.links"/>
                </strong>
                <ul>
                    <f:for each="{item.links}" as="link" iteration="iterator">
                        <f:comment><!--
                            Start with the second link as the first one will be used for the headline
                         --></f:comment>
                        <f:if condition="!({iterator.isFirst})">
                            <li>
                                <f:link.external uri="{link}" target="{settings.linkTarget}">{link}</f:link.external>
                            </li>
                        </f:if>
                    </f:for>
                </ul>
            </f:defaultCase>
        </f:switch>
    </div>
</f:if>

</html>